* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#texto_blanco {
  font-family: ChakraPetch-Regular;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
}

#gradient {
  background-image: linear-gradient(
    to left,
    rgb(247, 201, 243),
    rgb(65, 128, 246)
  );
  box-shadow: 0 1px 0 0 #110038;
}

/*header */

.p_header {
  margin-left: 20px;
  margin-top: 3px;
}

.header_barra {
  height: 23px;
}

/*contenedor */
.contenedor {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/*logo */

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.logo_img {
  width: 100px;
  height: 64px;
}

/*Clase boton seccion logo */

.boton {
  background-color: #f7c9f3;
  width: 114px;
  height: 36px;
  border: 1px solid #110038;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  box-shadow: inset -1px -1px 0px 0px #997d97, inset 1px 1px 0px 0px #ffffff;
  margin-right: 20px;
}

.boton_desplegable {
  background-color: #f7c9f3;
  width: 131px;
  height: 36px;
  border: 1px solid #110038;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  box-shadow: inset -1px -1px 0px 0px #997d97, inset 1px 1px 0px 0px #ffffff;
  text-align: center;
  align-self: center;
  margin-right: 20px;
}

.anchor {
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  line-height: 18px;
  letter-spacing: 0;
  text-decoration: none;
  margin-right: 20px;
}

/*Clase buscar */

.titulo {
  height: 24px;
}

.buscar h6,
.header_barra p {
  text-align: left;
  padding: 4px;
}

/*Clase cont_buscar */

.cont_buscar {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.buscar {
  background: #e6e6e6;
  height: 99px;
  box-shadow: inset -2px -2px 0px 0px #b4b4b4, inset 2px 2px 0px 0px #ffffff;
  margin-bottom: 140px; /*agregue esta linea para que se vea las 3 ultimas coincidencias de la busqueda */
}

.input {
  width: 88%;
}

.boton_buscar {
  width: 112px;
  height: 36px;
  font-size: 16px;
  color: #110038;
  background: #f7c9f3;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0px 0px #b4b4b4, inset 1px 1px 0px 0px #ffffff;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nuevo_item {
  margin-top: 9px;
}

.busqueda_sugerida {
  background: #e6e6e6;
  height: 160px;
  box-shadow: inset -1px -1px 0px 0px #b4b4b4, inset 1px 1px 0px 0px #ffffff;
  display: block;
}
