* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#texto_blanco {
  font-family: ChakraPetch-Regular;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
}

#gradient {
  background-image: linear-gradient(
    to left,
    rgb(247, 201, 243),
    rgb(65, 128, 246)
  );
  box-shadow: 0 1px 0 0 #110038;
}

/*header */

.p_header {
  margin-left: 20px;
  margin-top: 3px;
}

.header_barra {
  height: 23px;
}

/*contenedor */
.contenedor {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/*logo */
#logo_day {
  display: block;
}

#logo_dark {
  display: none;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.logo_img {
  width: 100px;
  height: 64px;
}

.logo_contenido {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
}

/*Clase boton seccion logo */

.a_crear {
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  line-height: 34px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  margin-left: 20px;
  background-color: #f7c9f3;
  width: 140px;
  height: 36px;
  border: 1px solid #110038;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.anchor {
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  line-height: 34px;
  letter-spacing: 0;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
}

/*Clase boton cambiar tema*/

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_botones {
  width: 160px;
  height: 102px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: flex;
  flex-direction: column;

  align-items: center;

  position: absolute;
  margin-top: 135px;
  margin-left: 71px;
  display: none;
}

.btn_tema {
  cursor: pointer;
  width: 145px;
  height: 36px;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10px;
  margin-left: 8px;
}

.btn_tema_day {
  cursor: pointer;
  width: 145px;
  height: 36px;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10px;
  margin-left: 8px;

  background: #fff4fd;
  border: 1px solid #cca6c9;
  box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

.boton {
  margin-left: 20px;
  background-color: #f7c9f3;
  width: 140px;
  height: 36px;
  border: 1px solid #110038;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  text-align: center;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.p_btn {
  margin-top: 6px;
}

.img_flecha {
  margin-left: 1px;
  margin-top: 15px;
}

.boton_flecha {
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-color: #f7c9f3;
  margin-left: -15px;
  margin-right: 15px;
  border: 1px solid #110038;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  text-align: center;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

/*Clase buscar */

.titulo {
  height: 24px;
}

.buscar h6,
.header_barra p {
  text-align: left;
  padding: 4px;
}

/*Clase cont_buscar */

.cont_buscar {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.buscar {
  background: #e6e6e6;
  height: 99px;
  box-shadow: inset -2px -2px 0px 0px #b4b4b4, inset 2px 2px 0px 0px #ffffff;
  margin-bottom: 140px; /*agregue esta linea para que se vea las 3 ultimas coincidencias de la busqueda */
}

.input {
  width: 88%;
}

.boton_buscar {
  width: 112px;
  height: 36px;
  font-size: 16px;
  color: #110038;
  background: #f7c9f3;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0px 0px #b4b4b4, inset 1px 1px 0px 0px #ffffff;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nuevo_item {
  margin-top: 9px;
}

.busqueda_sugerida {
  background: #e6e6e6;
  height: 160px;
  box-shadow: inset -1px -1px 0px 0px #b4b4b4, inset 1px 1px 0px 0px #ffffff;
  display: none;
  margin-top: 20px;
}

.busqueda_sugerida_flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.sugerencia {
  width: 88%;
  height: 34px;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  margin-left: 8px;
}

/*DIV SUGERENCIAS*/

/*
.sugerencias {
}
*/

.input_lineal {
  height: 32px;
  width: 100%;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0px 0px #e6dce4, inset 2px 2px 0px 0px #80687d;
  font-family: ChakraPetch-Regular;
  font-size: 14px;
  padding: 5px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 50px;
}

.cont_sugerencias {
  display: flex;
}

/*contenido div sugerencias*/

.cont_parrafo > p::before {
  content: " # ";
  margin-left: 2px;
}

.parrafo_surerencias {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  align-items: center;
  width: 280px;
  height: 24px;

  font-family: ChakraPetch-Bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.ver_mas {
  width: 81px;
  height: 34px;
  margin-top: -50px;
  margin-left: 30px;
}

.cont_sugerencias {
  display: flex;
  justify-content: space-between;
}

.nuevo_item {
  display: flex;
  flex-direction: column;
}

.parrafo_surerencias {
  display: flex;
}

.cont_parrafo {
  display: flex;
  justify-content: space-between;
  width: 290px;
}

.cont_item {
  display: flex;
  flex-direction: column;
}

/*DIV TENDENCIAS*/

.cont_tendencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.botones .anchor:hover {
  border: 1px dashed #110038;
}

.botones .boton_flecha:hover {
  border: 1px dashed #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.botones .boton:hover {
  border: 1px dashed #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

/*gifos*/
.gifos {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.crear_gifos_cont {
  width: 684px;
  height: 386px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.titulo_gifo {
  height: 24px;
  width: 100%;
}

.p_gifo {
  font-family: ChakraPetch-Bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding: 4px;
}

.contenido_gifo {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.contenido_gifo h2 {
  margin-left: 20px;
  font-family: ChakraPetch-Bold;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.parrafo_crear1 {
  margin-top: 50px;
  margin-left: 50px;
}

.parrafo_c {
  font-family: ChakraPetch-Regular;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
  width: 518px;
  height: 190px;
}

.cont_botones_crear {
  display: flex;
  justify-content: flex-end;
}

/*
.cont_botones_crear .btn_crear_comenzar a{
  text-decoration: none;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;


}
*/



.p_crear {
  text-decoration: none;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}


.btn_crear_cancelar {
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  line-height: 34px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
  height: 36px;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.btn_crear_comenzar {
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  line-height: 34px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
  height: 36px;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
 
}

/* seccion capturar pantalla 1*/
.capturar {
  display: none;
}

.capturar_contenedor {
  width: 860px;
  height: 548px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-top: 50px;
}

.cont_gifos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pantalla {
  width: 832px;
  height: 434px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.flex_pantalla {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.contenedor_btn_capturar {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  margin-top: 15px;
}

.boton_capturar {
  margin-right: 20px;
  background-color: #f7c9f3;
  width: 140px;
  height: 36px;
  border: 1px solid #110038;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  text-align: center;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.boton_capturar_icono {
  width: 36px;
  height: 36px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  text-align: center;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.img_camara {
  margin-top: 9px;
}

.capturando {
  display: none;
}

.boton_capturar_capturando {
  margin-right: 20px;
  width: 140px;
  height: 36px;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  text-align: center;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}

.boton_capturar_icono_rec {
  width: 36px;
  height: 36px;
  text-align: center;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}

.img_rec {
  margin-top: 7px;
}

.cont_timer {
  width: 124px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  margin-right: 525px;
}
